.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  width: 100%;
}

.features .row {
  justify-content: center;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
